doctype html
//- For editing or creating notes
html(lang="en")
  head
    //- Construct variables
    - if (typeof(Note) === 'undefined') {
    -   var title = 'NoteTool -- New Note';
    -   var action = '/MakeNote';
    -   var value = '';
    -   var content = '';
    -   var preview = '';
    - } else {
    -   var title = 'NoteTool -- Edit Note';
    -   var action = '/UpdateNote/'+Note.address;
    -   var value = Note.Name;
    -   var content = Note.Content;
    -   var preview = "Loading note..."
    - }
    
    title #{title}
    //- Page CSS
    link(
      rel='stylesheet',
      href='/css/Edit.css'
    )
    //- JQuery cdn
    script(
      type='text/javascript',
      src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    //- MathJax cdn
    script(
      type='text/javascript',
      src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full')
    //- Page Javascript
    script(
      type='text/javascript',
      src='/js/Edit.js')
  body
    //- Link to return to list of notes and abandon current note
    #container
      #header
        a#home(href='/') Home
      #row-content
        #edit    
          form#form1(
            action='#{action}',
            method='post'
          )
            input#title(
              type='text',
              name='title',
              value=value,
              placeholder='Title'
            )
            br
            textarea#content(
              name='content',
              placeholder='Content',
              rows=10
            ) #{content}
            br
            input#submit(type='submit')
        #Preview.show #{preview}
        #Buffer.show(
          style="position:absolute;visibility:hidden;"
        )
      