doctype html
//- For showing list of notes
html
  head
    //- Page CSS
    link(
      rel='stylesheet',
      href='/css/index.css'
    )
    //- JQuery cdn
    script(
      type="text/javascript",
      src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    //- Page Javascript
    script(
      type="text/javascript",
      src="/js/index.js"
    )
  body
    h4
      //- Link to add note
      a(href="Edit/") Add Note
    h2 Tags:
    #tags
      each tag in tags
        a.tag.clickable #{tag}
    h1 Notes:
    ul
      // -Must be passed variable notes
      each note in notes 
        li
          // -Link for each note
          a.note(href="Notes/#{note.address}" data-tags="#{note.tags.join(',')}") #{note.name}
          br
          #tags
            each tag in note.tags
              span.tag.small #{tag}