doctype html
//- For showing single note
html(lang="en")
  head
    title NoteTool -- !{Note.Name}
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- Page CSS
    link(
      rel='stylesheet',
      href='/css/Notes.css'
    )
    //- MathJax cdn
    script(
      type="text/javascript",
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full")
    //- JQuery cdn
    script(
      type="text/javascript",
      src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    //- Page Javascript
    script(
      type="text/javascript",
      src="/js/Notes.js"
    )
    //- Page javascript
    script( 
      type="text/javascript",
      src='../js/Delete.js')
  body
    //- Link to return to list of notes
    a#home(href="../") Home
    br
    //- Link to edit current note
    a#edit(href="../Edit/#{Note.address}") Edit
    br
    //- Link to delete current note
    a#delete(href="../Delete/#{Note.address}") Delete
    #placeholder Loading Note
    #container.hold
      h1 !{Note.Name}
      #main !{Note.Content}
